<h1 class="text-center mt-4">Copa dos Filmes</h1>
<p class="text-center">Qual será o filme mais aclamado pelo público?</p>

<hr>

<p>Neste jogo, você deve selecionar 8 filmes da lista abaixo.
  Os mesmos serão colocados em uma simulação de "copa do mundo", competindo entre si em um sistema de chaves.
  Em cada partida, o filme com a maior nota vence, e avança para a próxima fase.</p>
  
<p>Após escolher os filmes, clique em <strong>Gerar Campeonato</strong> para ver qual filme será o vencedor!</p>

<hr>

<p *ngIf="!filmes"><em>Loading...</em></p>

<form class="container" *ngIf="filmes" [formGroup]="filmeForm" (ngSubmit)="submit()">
  
  <div class="row">
    <p class="col-md-6">Selecionados<br>0 de 8 filmes</p>
    <div class="col-md-6">
      <button class="btn btn-primary align-right">Gerar Campeonato</button>
    </div>
    <label class="col-md-3 px-1" formArrayName="filmes" *ngFor="let filme of filmeForm.controls['filmes'].controls; let i = index">
      <div class="card">
        <div class="card-body form-check">
          <input class="form-check-input" type="checkbox" [formControlName]="i">
          <p class="card-text"><small>{{ filmes[i].titulo }}<br>{{ filmes[i].ano }}</small></p>
        </div>
      </div>
    </label>
  </div>
</form>