<h1 class="text-center mt-4">Copa dos Filmes</h1>
<h5 class="text-center">Fase de Seleção</h5>

<hr>

<p>Neste jogo, você deve selecionar 8 filmes da lista abaixo.
  Os mesmos serão colocados em uma simulação de "copa do mundo", competindo entre si em um sistema de chaves.
  Em cada partida, o filme com a maior nota vence, e avança para a próxima fase.</p>
  
<p>Após escolher os filmes, clique em <strong>Gerar Campeonato</strong> para ver qual filme será o vencedor!</p>

<hr>

<p *ngIf="!filmes"><em>Loading...</em></p>

<form class="container" *ngIf="filmes" [formGroup]="filmeForm" (ngSubmit)="submit()">
  <div class="clearfix mb-3">
    <p class="alert float-left my-2 py-1" [ngClass]="{'alert-success': getSelectedCheckboxes().length == 8}" *ngIf="getSelectedCheckboxes().length <= 8">
      Selecionados {{ getSelectedCheckboxes().length }} de 8 filmes
    </p>
    <p class="alert alert-danger float-left my-2 py-1" *ngIf="getSelectedCheckboxes().length > 8">
      Selecione apenas 8 filmes!
    </p>
    <button class="btn btn-primary float-right my-1" [disabled]="!filmeForm.valid">Gerar Campeonato</button>
  </div>
  <div class="row">
    <label class="col-md-3 px-1" formArrayName="filmes" *ngFor="let filme of filmeForm.controls['filmes'].controls; let i = index">
      <div class="card py-1">
        <div class="form-check pl-4">
          <input class="form-check-input" type="checkbox" [formControlName]="i">
          <p class="card-text"><small>{{ filmes[i].titulo }}<br>{{ filmes[i].ano }}</small></p>
        </div>
      </div>
    </label>
  </div>
</form>